.places {
  color: #fff;

  margin: 0 auto;
  max-width: 984px;
  padding-top: 92px;
}

@media screen and (max-width: 1079px) {
  .places {
    margin: 0 48px;
  }
}

@media screen and (max-width: 775px) {
  .places {
    margin: 0 24px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 550px) {
  .places {
    margin: 0;
    padding-top: 64px;
  }
}