.intro {
  color: #fff;
    
  max-width: 690px;
  margin: 0;
  padding-top: 92px;
  margin-left: 148px;
}

@media screen and (max-width: 1079px) {
  .intro {
    margin-left: 48px;
  }
 
}
  
@media screen and (max-width: 775px) {
  .intro {
    padding-top: 88px;
    margin: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding-top: 64px;
    margin: 0 16px;
  }
}